// Base Class Definition
// -------------------------

/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'suifont';
  src: url('#{$fi-font-path}/sui_fonts.eot?v=#{$fi-version}');
  src: url('#{$fi-font-path}/sui_fonts.eot?#iefix&v=#{$fi-version}') format('embedded-opentype'),
    // url('#{$fa-font-path}/sui_fonts.woff2?v=#{$fi-version}') format('woff2'),
    url('#{$fi-font-path}/sui_fonts.woff?v=#{$fi-version}') format('woff'),
    url('#{$fi-font-path}/sui_fonts.ttf?v=#{$fi-version}') format('truetype'),
    url('#{$fi-font-path}/sui_fonts.svg?v=#{$fi-version}#fontawesomeregular') format('svg');
//  src: url('#{$fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}

.#{$fi-css-prefix} {
  display: inline-block;
  font: normal normal normal #{$fi-font-size-base}/1 suifont; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); // ensures no half-pixel rendering in firefox
  speak:none;
}
