/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'suifont';
  src: url('#{$fi-font-path}/sui_fonts.eot?v=#{$fi-version}');
  src: url('#{$fi-font-path}/sui_fonts.eot?#iefix&v=#{$fi-version}') format('embedded-opentype'),
    // url('#{$fa-font-path}/sui_fonts.woff2?v=#{$fa-version}') format('woff2'),
    url('#{$fi-font-path}/sui_fonts.woff?v=#{$fi-version}') format('woff'),
    url('#{$fi-font-path}/sui_fonts.ttf?v=#{$fi-version}') format('truetype'),
    url('#{$fi-font-path}/sui_fonts.svg?v=#{$fi-version}#fontawesomeregular') format('svg');
//  src: url('#{$fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}
