// Variables
// --------------------------

$fi-font-path:        "../fonts" !default;
$fi-font-size-base:   14px !default;
//$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts" !default; // for referencing Bootstrap CDN font files directly
$fi-css-prefix:       fi !default;
$fi-version:          "0.0.1" !default;
$fi-border-color:     #eee !default;
$fi-inverse:          #fff !default;
// $fa-li-width:         (30em / 14) !default;
$fi-var-search:"\f002";
$fi-var-envelope-o:"\f003";
$fi-var-heart:"\f004";
$fi-var-star:"\f005";
$fi-var-star-o:"\f006";
$fi-var-user:"\f007";
$fi-var-th:"\f00a";
$fi-var-th-list:"\f00b";
$fi-var-check:"\f00c";
$fi-var-times:"\f00d";
$fi-var-power-off:"\f011";
$fi-var-cog:"\f013";
$fi-var-trash-o:"\f014";
$fi-var-home:"\f015";
$fi-var-clock-o:"\f017";
$fi-var-download:"\f019";
$fi-var-lock:"\f023";
$fi-var-flag:"\f024";
$fi-var-qrcode:"\f029";
$fi-var-tags:"\f02c";
$fi-var-book:"\f02d";
$fi-var-bookmark:"\f02e";
$fi-var-camera:"\f030";
$fi-var-align-justify:"\f039";
$fi-var-picture-o:"\f03e";
$fi-var-pencil:"\f040";
$fi-var-map-marker:"\f041";
$fi-var-plus-circle:"\f055";
$fi-var-minus-circle:"\f056";
$fi-var-times-circle:"\f057";
$fi-var-check-circle:"\f058";
$fi-var-question-circle:"\f059";
$fi-var-info-circle:"\f05a";
$fi-var-exclamation-circle:"\f06a";
$fi-var-eye:"\f06e";
$fi-var-exclamation-triangle:"\f071";
$fi-var-calendar:"\f073";
$fi-var-chevron-up:"\f077";
$fi-var-chevron-down:"\f078";
$fi-var-retweet:"\f079";
$fi-var-shopping-cart:"\f07a";
$fi-var-cogs:"\f085";
$fi-var-thumbs-o-up:"\f087";
$fi-var-thumbs-o-down:"\f088";
$fi-var-heart-o:"\f08a";
$fi-var-sign-in:"\f08b";
$fi-var-phone:"\f095";
$fi-var-unlock:"\f09c";
$fi-var-rss:"\f09e";
$fi-var-bell-o:"\f0a2";
$fi-var-wrench:"\f0ad";
$fi-var-users:"\f0c0";
$fi-var-link:"\f0c1";
$fi-var-table:"\f0ce";
$fi-var-caret-down:"\f0d7";
$fi-var-caret-up:"\f0d8";
$fi-var-envelop:"\f0e0";
$fi-var-sitemap:"\f0e8";
$fi-var-umbrella:"\f0e9";
$fi-var-bell:"\f0f3";
$fi-var-angle-left:"\f104";
$fi-var-angle-right:"\f105";
$fi-var-angle-up:"\f106";
$fi-var-angle-down:"\f107";
$fi-var-desktop:"\f108";
$fi-var-laptop:"\f109";
$fi-var-tablet:"\f10a";
$fi-var-mobile:"\f10b";
$fi-var-spinner:"\f110";
$fi-var-reply-all:"\f122";
$fi-var-star-half-o:"\e600";
$fi-var-puzzle-piece:"\e601";
$fi-var-unlock-alt:"\e602";
$fi-var-file:"\e603";
$fi-var-file-text:"\e604";
$fi-var-bug:"\e605";
$fi-var-trash:"\e606";
$fi-var-copyright:"\e607";
$fi-var-at:"\e608";
$fi-var-toggle-off:"\e609";
$fi-var-toggle-on:"\e60a";
$fi-var-user-plus:"\e60b";
$fi-var-user-times:"\e60c";
$fi-var-refresh:"\f021";
$fi-var-upload:"\f093";
$fi-var-application:"\f009";
$fi-var-statistic:"\f012";
$fi-var-play:"\f04b";