extends ../index
block main
	div.doc-header
		h2= title
	div.doc-con
		h3 如何修改？
		p.
			字体图标是相对独立的模块，位于<code class="nohighlight code-inline">font_icons/</code>，该模块修改自<code class="nohighlight code-inline">fontawesome</code>。默认地，所有的字体图标选择器前缀都是<code class="nohighlight code-inline">fi</code>。
		ul
			li <code class="nohighlight code-inline">font_icons/variables</code>配置了字体模块的全部变量，修改字体路径、图标基本className、增删图标请在这里进行。
			li <code class="nohighlight code-inline">font_icons/core</code>配置了字体的基本信息，包括字体名称、基本类的样式。
			li <code class="nohighlight code-inline">font_icons/suifont</code>是最终被引入的集合。
			li <code class="nohighlight code-inline">font_icons/animated</code>、<code class="nohighlight code-inline">font_icons/rotated-flipped</code>定义了图标可能需要用到的动画和变形。
			li <code class="nohighlight code-inline">font_icons/suifont_ie_7</code>是为ie7准备的，降级，因为图标使用了<code class="nohighlight code-inline">::before/::after</code>伪元素，而ie7-不支持它。虽然我们提供了这种方案，但<strong>强烈建议不要使用它</strong>，因为它会对性能造成严重影响。
		h3 提供了哪些图标？
		div.font-preview#fontPreview